<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1>Image Gallery</h1>
    <article>
    <figure>
        <img src="image/images (2).jpg" alt="nature" />
        <figcaption>nature</figcaption>
        <img src="image/ban-removebg-preview.png" alt class="overlayed" width="150px" height="100px"/>
        
    </figure>
    <figure class="thumbnail">
        <img src="image/images (1).jpg" alt="nature2" />
        <figcaption class="popup">
            <img src="image/images (1).jpg"/>
            nature_scenery
            <p> image is a scene to behold</p>
        </figcaption>
    </figure>
    <figure>
        <img src="image/download.jpg" alt="..." />
        <figcaption >Scene</figcaption>
    </figure>
    <figure>
        <img src="image/download (2).jpg" alt="..."/>
        <figcaption>Awesome</figcaption>
    </figure>
    <figure class="thumbnail">
        <img src="image/download (1).jpg" alt="..." />
        <figcaption class="popup">
            <img src="image/download (2).jpg" />
            Beauty
        </figcaption>
    </figure>
    
    <p class = "first">
        Beautiful is nature when the birds sings and u can see the lilies dance to 
        the tune of the fresh summer wave.
        The brightness of the morning sun gives beauty to their colourful skin and 
        the atmosphere is so original no facade to it.
        Abba baba u too much!
        Nature's first green is gold,
Her hardest hue to hold.
Her early leaf's a flower;
But only so an hour.
Then leaf subsides to leaf.
So Eden sank to grief,
So dawn goes down to day.
Nothing gold can stay.
Sweet melody amidst the moving spheres
Breaks forth, a solemn and entrancing sound,
A harmony whereof the earth's green hills
Give but the faintest echo; yet is there
A music everywhere, and concert sweet!
All birds which sing amidst the forest deep
Till the flowers listen with unfolded bells;
All winds that murmur over summer grass,
Or curl the waves upon the pebbly shore;
Chiefly all earnest human voices rais'd
In charity and for the cause of truth,
Mingle together in one sacred chord,
And float, a grateful incense, up to God.

</p>
</article>
</body>
</html>