<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <h1>
        Float Example
    </h1>
    <p>A wonderful serenity has taken possession of  this images
         with the lovely trees and sunshine beaming through the sky. 
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          Minus blanditiis, vitae tempora quod neque corrupti mollitia 
           eveniet. In incidunt dicta quasi beatae quisquam ducimus eveniet
            expedita? Eveniet voluptates expedita quidem.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae illum ex nemo nihil aspernatur, praesentium repudiandae
             dolorum sint, quas velit, laudantium odio est reprehenderit id labore natus iste tenetur! Iusto.
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum fuga autem officia sequi tempore modi tenetur architecto
              praesentium obcaecati voluptas eaque cumque, harum quam necessitatibus dolor libero saepe rem recusandae.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, dolorum tempora saepe quisquam nemo fuga ea asperiores delectus
               labore excepturi ab, laboriosam iste amet odio deserunt ipsa exercitationem dolores velit.
        </p>
    <figure>
        <img src="image/images.jpg" alt='sihoutte' width="80px" height="80px" />
        <figcaption>sihoutte</figcaption>
    </figure>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Rerum nam nemo ea at provident odit omnis sunt sed quibusdam 
         magnam nobis placeat quae eveniet sapiente corrupti, 
         sequi neque delectus incidunt.
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
         Qui in, at iure perferendis atque ipsum officia
         aperiam magni sequi optio fuga illo nisi necessitatibus sunt, 
         quibusdam sapiente distinctio voluptatum veritatis?
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium
         necessitatibus officia nihil non tenetur ab dicta itaque, repellendus incidunt nesciunt corporis, 
         rem aperiam illum iusto! Et aliquam iste tempora molestias.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi nesciunt, sapiente qui beatae culpa laudantium fugit 
         placeat nemo est eveniet veniam. Culpa doloribus expedita aliquid architecto maiores, incidunt aperiam!
    </p>

</body>
</html>